#header-bar-wrapper {
  width: 100% !important;
  position: fixed;
  top: 0;
  transform: translateY(0);
  transition: transform 0.2s ease-in-out;
}

#header-bar-wrapper.nav-up {
  transform: translateY(-100%);
}

#nprogress .bar {
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}

body.is-loading {
  position: relative;
  overflow: hidden;
}

body.is-loading::after {
  content: "";
  display: block;
  position: fixed;
  z-index: 1030;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.85);
  overflow: hidden;
  pointer-events: none;
}
